{% extends 'explorescotland/base.html' %}

{% block title_block %}
  Login
{% endblock %}

{% block header_block %}
Login to Explore Scotland
{% endblock %}

{% block body_block %}
  <form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Log in" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <p>
    Log in with
    <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
  </p>
  <p>
    Don't have an account?
    <a href="{% url 'registration_register' %}">Sign up</a>
  </p>

{% endblock %}
