{% extends 'explorescotland/base.html' %}

{% block title_block %}
  Register
{% endblock %}

{% block header_block %}
  <h1> Sign up to Explore Scotland </h1>
{% endblock %}

{% block body_block %}
  <form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
  </form>
<br /> 
  <div class="buttonParent">
      <button class="btn btn-primary"
      onClick="location.href='{% url 'social:begin' 'google-oauth2' %}'">
      Register with Google
  </button>

{% endblock %}
