.right{
float: right;
width: 60%;
padding:20px;
border: 3px ridge white;
text-align: center;


}

.left {
float: left;
width: 35%;
padding:0;
text-align: center;
}

input[type=button] {
    padding:5px;
    border:2px solid white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width:49%;
    background-color: #00BFFF;
}