
    .leftColumn{
    float:left;
    width: 25%;
    padding-left: 60px;
    padding-top: 30px;

    }

    .picture{
     border: 3px ridge black;
    background-color: white;
    width: 200px;

    }

    .name{
    padding: 0px;
    text-align: center;
    }

    .rightColumn{
    float:right;
    width: 65%;
    padding: 30px;
    }

    .card{
    overflow-y: scroll;
    background-color: #B0E0E6;
    border: 3px solid black;
    height: 500px
    }

    .panel-body{
        border-radius: 25px;
        background-color: white;
        border:1px solid black;
        float:left;
        padding-left: 20px;
        padding-right: 20px;

        width:50%;
    }

    .imagePersona{
        float:left;
    }

    .panel-body2{
        background-color: #00BFFF;
        border:1px solid white;
        float:right;
        border-radius: 25px;
        padding-left: 20px;
        padding-right: 20px;
        width:50%;

    }

    .buttons{
            border:3px solid black;

    }

    input[type=button] {
    padding:5px;
    border:2px solid white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width:49%;
    background-color: #00BFFF;
}

.panel-body3{
        background-color: white;
        border:1px solid black;
        float:center;
        border-radius: 25px;
        padding: 30px;
        width:93%;

    }