{% extends 'explorescotland/base.html' %}

{% block title_block %}
  Add Child
{% endblock %}

{% block header_block %}
<h1> Add a Child </h1>
{% endblock %}

{% block body_block %}
  <br /> Your child's learning adventure begins here! Enter his or her name!
  <form id="child_form" method="post" action="{% url 'add_child' %}">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      {{ field.errors }}
        <br />{{ field.label }}
      {{ field }}
    {% endfor %}
    <input type="submit" name="submit" value="Add Child" />
  </form>
{% endblock %}
