{% load staticfiles %}
<!DOCTYPE html>

<html>
  <head>
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>
      Explore Scotland -
      {% block title_block %}
      {% endblock %}
    </title>

  </head>
  <div class="header">
    {% block header_block %}
    {% endblock %}
  </div>

  <div class="topnav">
    <a href={% url 'home' %}>Home</a>
    <a href={% url 'about' %}>About</a>
    {% if user.is_authenticated %}
    <a href={% url 'children_area' %}>Children Area</a>
    <a href={% url 'googlemap' %}>Explore - Interactive Map</a>
    <a href={% url 'scot' %}>Talk to Scot</a>
    <a href={% url 'lily' %}>Talk to Lily</a>
    <a href={% url 'parent_area' %}>Parent Area</a>
    <a href={% url 'auth_logout' %}>Logout</a>

    {% else %}
    <a href={% url 'auth_login' %}>Login</a>
    <a href={% url 'registration_register' %}>Sign Up</a>
    {% endif %}


  </div>

  <div>
    {% block body_block %}
    {% endblock %}
  </div>
  </body>
</html>
