{% extends 'explorescotland/base.html' %}
{% load staticfiles %}


    {% block title_block %}
    Talk to your Buddy
      {% endblock %}


    {% block body_block %}
    <link rel="stylesheet" href="{% static 'css/personas.css' %}">

    <div class="leftColumn">
        <div class="picture">
            {% block picture_block %}
            {% endblock %}
        </div>

        <div class="name">
            {% block name_block %}
            {% endblock %}

        </div>
    </div>

    <div class="rightColumn">
        <div class="card">
            <div class="welcome">
                <p><div class="panel-body3">Welcome! My name is {% block nm_block %} {% endblock %}. I am {% block age_block %}
                        {% endblock %}years old
                        from {% block city_block %} {% endblock %}. Lovely to see that you are interested in learning more about my beautiful country.
                        Please note: this section requires you to have explored Scotland in the interactive map.
                        If you would like me to test what you have learned so far, please select the button below. </div></p>
            </div>
            <div class="startButton">
            <input type='button' value='Press here to start! ' id='btnStart'>
            </div>
            <div class="panel panel-default">

            </div>
            <br>
                <div class="panel panel-default">

                </div>


            {% block chat_block %}
            {% endblock %}
        </div>
  <div class="buttons">
      <input type='button' value='Option 1' id='btn1'>
      <input type='button' value='Option 2' id='btn2'>
      <input type='button' value='Option 3' id='btn3'>
      <input type='button' value='Option 4' id='btn4'>

        </div>
    </div>

    <script src="{% static 'js/personas.js' %}"></script>
    {% endblock %}