{% extends 'explorescotland/base.html' %}
{% load staticfiles %}
<html>
  <head>
    <title>
      Explore Scotland - Talk to your Buddy
      {% block title_block %}
      {% endblock %}
    </title>
      <style>

       .backButton {
    text-align: left;
    }

    .leftColumn{
    float:left;
    width: 25%;
    padding: 40px;
    }


    .chatBox{
    float:right;
    width: 75%;
    border: 3px solid black;

    }
    .card{
    background-color: white;
    padding: 20px;
    }


    </style>
  </head>
<body style="background-color:powderblue;">    <div>

    {% block body_block %}
   <div class="backButton">
    <button class="btn btn-primary"
        onClick="location.href='{% url 'homePage' %}'">
        Back to Home Screen
    </button> </br>
       </div>
    <div class="leftColumn">
    <div class="picture">
    {% block picture_block %}
    {% endblock %}
    </div>

    <div class="name">
    {% block name_block %}
    {% endblock %}
    </div>
    </div>

    <div class="chatBox">
        <div class="card">
      {% block chat_block %}
      {% endblock %}
        </div>
    {% endblock %}

    </div>
</div>
  </body>
</html>
