{% load staticfiles %}
<!DOCTYPE html>

<html>
  <head>
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <title>
      Explore Scotland -
      {% block title_block %}
      {% endblock %}
    </title>

  </head>
<body style="background-color:powderblue;">
  <div class="header">
    {% block header_block %}
    {% endblock %}
  </div>

  <div class="topnav">
    <a href={% url 'home' %}>Home</a>
    {% if user.is_authenticated %}
    <a href={% url 'auth_logout' %}>Logout</a>
    <a href={% url 'parent_area' %}>Parent Area</a>
    {% else %}
    <a href={% url 'auth_login' %}>Login</a>
    <a href={% url 'registration_register' %}>Sign Up</a>
    {% endif %}
    <a href={% url 'about' %}>About</a>
    <a href={% url 'scot' %}>Talk to Scot</a>
    <a href={% url 'lily' %}>Talk to Lily</a>
    <a href={% url 'parent' %}>I'm a parent</a>
    <a href={% url 'googlemap' %}>Interactive Map</a>

  </div>

  <div>
    {% block body_block %}
    {% endblock %}
  </div>
  </body>
</html>