<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>
      Explore Scotland - Talk to your Buddy
      {% block title_block %}
      {% endblock %}
    </title>
  </head>
<body style="background-color:powderblue;">    <div>
    <button class="btn btn-primary"
        onClick="location.href='{% url 'homePage' %}'">
        Back to Home Screen
    </button> </br>
    {% block picture_block %}
    {% endblock %}

    {% block name_block %}
    {% endblock %}

      {% block body_block %}
      {% endblock %}
    </div>
  </body>
</html>
