{% extends 'explorescotland/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Children Area
{% endblock %}

{% block header_block %}
 Children Area
{% endblock %}

{% block body_block %}
 <link rel="stylesheet" href="{% static 'css/parents.css' %}">
  {% if child_session == None %}
    {% if not children.all %}
      <div class="child-info">
        <strong>You havent registered any children yet!</strong> <br/>
        <a href="{% url 'add_child' %}">Add a child here</a>
      </div>
    {% else %}
      <div class="child-info">
        <h3> Get ready to Explore Scotland!! </h3>
        <h3> Who is learning? </h3>
      </div>
      {% for child in children %}
        <div class="buttons">
          <form id="choose_child_form" method="post" action="{% url 'children_area' %}">
              <input type="hidden" name="child" value="{{ child.name }}">
              <input type="submit" value="{{ child.name }}"></form>
        </div>
      {% endfor %}
    {% endif %}
  {% else %}
  <div class="child-info">
    <h3> Hi <strong>{{ child_session }}</strong/>!! You are on level <strong>{{ level }}</strong>. </h3>
    <br /><a href="{% url 'scot' %}">Talk to Scot!</a>
    <br /><a href="{% url 'lily' %}">Talk to Lily!</a>
    <br /><a href="{% url 'googlemap' %}">Learn on the map!</a>
  </div>
  <div class="buttons">
    <form id="stop_child_session" method="post" action="{% url 'children_area' %}">
        <input type="hidden" name="child" value="end">
        <input type="submit" value="Give way to your sibling to play!"></form>
  </div>
  {% endif %}
  <div class="picture">
    <img src="{% static "img/game.png" %}" alt="Scot & LiLy say goodbye"/>
  </div>
{% endblock %}
