{% extends 'explorescotland/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Feedback
{% endblock %}

{% block header_block %}
 Leave your feedback
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/parents.css' %}">
  <div class="feedback">
    <div class="alert alert-info" role="alert">
Your feedback is highly appreciated and will help us make the site better.
    </div>

  <form id="feedback_form" method="post" action="{% url 'feedback' %}">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      {{ field.errors }}
      {{ field }}
    {% endfor %}
    <input type="submit" name="submit" value="Leave Feedback" />
  </form>
  </div>
{% endblock %}
