<!DOCTYPE html>
{% extends 'explorescotland/base.html' %}
{%load staticfiles%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{% block header_block %}
    Explore Scotland
    {% endblock %}
     {% block navbar_block %}
    {% endblock %}

        {% block body_block %}
<div>

<img src="https://maps.googleapis.com/maps/api/staticmap?center=Scotland,UK&zoom=7&size=1000x1000&key=AIzaSyD9s63K87G4opLnDMu-exTPfU4csnQBXk8">



</div>
{% endblock %}

</body>
</html>