{% extends 'explorescotland/base.html' %}
{% load staticfiles %}

<!-- This file handles the view displayed in the home
    page; It handles different visualization based on
    whether the user is logged in or not -->

{% block title_block %}
  Home
{% endblock %}

{% block header_block %}
 Welcome to Explore Scotland!
{% endblock %}

{% block body_block %}
  <!-- Linking a reference to the css for this template -->

  <link rel="stylesheet" href="{% static 'css/home.css' %}">

<!-- Displays the text on the home page
    on the right hand side of the screen
    and modifies the text based on whether
    the user is logged in or not-->
<div class="right">
        {% if user.is_authenticated %}
<h1>Welcome Back! Lovely to see you again!</h1>
    What are you up to today? Talking to Scot? Or may be to Lily?
    Do you feel like exploring? <br/> Choose your profile from the button below !


    <div class="buttonParent">
      <button class="btn btn-primary"
      onClick="location.href='{% url 'children_area' %}'">
      Play Time! <br/> (Child Area)
  </button>
    </div>
        {% else %}
<h1>
    Thank you for visiting ExploreScotland!
</h1>
    If you are new to our website and would like
    to learn more about it please select "About".<br/>
    We would love you to become a part of our community!
    Please sign up and register your children today! <br/>
    If you are an existing user, we are delighted to see you back!
    Please log in!

    {% endif %}
</div>

<!-- Displays the main image of the
    Explore Scotland on the left hand side
    of the view -->
<div class="left">
    <div class="picture">
<img src="{% static "img/ExploreScotland.png" %}" alt="Site's picture"/>
    </div>
</div>


{% endblock %}
