<!DOCTYPE html>
{% extends 'explorescotland/base.html' %}
{%load staticfiles%}
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Include CSS File Here -->
<link rel="stylesheet" href="{% static 'css/parentlogin.css' %}">
    <script src=parentlogin.js> </script>


</head>
<body>


<div class="container">{
    {% block header_block %}
    Authentication required
    {% endblock %}
     {% block navbar_block %}
    {% endblock %}

        {% block body_block %}

<div class="main">
<form class="form" method="post" action="#">
<h2>Login to access your profile</h2>
<label>Email :</label>
<input type="text" name="demail" id="email">
<label>Password :</label>
<input type="password" name="password" id="password">
<input type="button" name="login" id="login" value="Login">
</form>

</div>
</div>

{% endblock %}
</body>
</html>




