{% extends 'explorescotland/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Parent Area
{% endblock %}

{% block header_block %}
Parent Area
{% endblock %}

{% block body_block %}
 <link rel="stylesheet" href="{% static 'css/parents.css' %}">
<div class="panel panel-info parent-info">
    <h3>If you are reading this you are probably logged in.</h3>
    <h3>Here you can adjust profile settings and view your kids' performance.</h3>
</div>

      <br></br>
     <div class="buttonforms">
     <button type="button" class="btn btn-info btn-block" onClick="location.href='{% url 'view_profile' %}'">
      View Profile
     </button>



    <button type="button" class="btn btn-info btn-block" onClick="location.href='{% url 'auth_password_change' %}'">
      Change Password
      </button>




     <button class="btn btn-info btn-block" onClick="location.href='{% url 'feedback' %}'">
      Leave Feedback
     </button>



     <button class="btn btn-info btn-block" onClick="location.href='{% url 'manage_children' %}'">
      Manage Your Children
     </button>
     </div>


      <div class="picture">
      <img src="{% static "img/family.png" %}" alt="Scot & LiLy say goodbye"/>
  </div>
{% endblock %}
