{% extends 'explorescotland/base.html' %}

{% block title_block %}
  Profile
{% endblock %}

{% block header_block %}
<h1> View Profile </h1>
{% endblock %}

{% block body_block %}
  <p><strong>Username : {{ user.username }}</strong></p>
  <p>First Name : {{ user.first_name }}</p>
  <p>Last Name : {{ user.last_name }}</p>
  <p>Email : {{ user.email }}</p>
  <p>Date of Birth : {{ parent.birthdate }}</p>
  <p>Gender : {{ parent.get_gender_display }}</p>
  <div class="buttonParent">
      <button class="btn btn-primary"
      onClick="location.href='{% url 'edit_profile' %}'">
      Edit Profile
  </button>
{% endblock %}
