<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <title>Explore Scotland - Home</title>
</head>
<body style="background-color:powderblue;">
    <h1> Welcome Back!</h1>
    <h2> Please choose what you want to do now: </h2>

    <a href="{% url 'home' %}">Restricted Page</a>
    <button class="btn btn-primary"
        onClick=<a href="/explorescotland/home/"></a>
        I am a Parent
    </button>
    </br>

    <button class="btn btn-primary"
        onClick="<a href="{% url 'home' %}"></a>"
        Kid1 name
    </button> </br>

    <button class="btn btn-primary"
        onClick=<a href="/explorescotland/home/"></a>
        Kid2 name
    </button>

</body>
</html>