{% extends 'explorescotland/base.html' %}

<head>
    <style>

    h2 {
    font-family: verdana;
    font-size: 20px;
    text-align: center;

    }
    .buttonParent {
    text-align: center;
    border: 3px solid white;
}
    </style>

    {% block title_block %}
    Home
    {% endblock %}
</head>
    {% block header_block %}
    <h1> Welcome Back!</h1>
    {% endblock %}

    {% block body_block %}
    <h2> Please choose what you want to do now: </h2>

    <div class="buttonParent">
        <button class="btn btn-primary"
        onClick="location.href='{% url 'scot' %}'">
        Parent
    </button>
        <button class="btn btn-primary"
        onClick="location.href='{% url 'lily' %}'">
        Kid1 name
    </button>
        <button class="btn btn-primary"
        onClick="location.href='{% url 'home' %}'">
        Kid2 name
    </button>
        </div>

    {% endblock %}





</body>
</html>